.block-magazine {
  // position: relative;
  overflow: hidden;
  font-family: $proxima;
  padding: 42px 0 38px;
  color: $white;
  background: $gray1;
  text-align: center;

  @include media('<tablet') {
    padding: 25px 0;
  }

  &__title {
    font-weight: normal;
    font-size: 30px;
    color: $white;
    max-width: 800px;

    @include media('<desktop') {
      width: 350px;
      padding: 2px 0 0;
      font-size: 1.72em;
    }

    @include media('<tablet') {
      float: none;
      width: 100%;
      text-align: center;
      display: block;
      margin: 0 0 10px;
    }
  }

  &__list {
    @extend %listreset;

    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 0 53px;

    @include media('<widescreen') {
      padding: 0 15px;
    }

    &__item {
      padding: 0 10px;
    }
  }

  &__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.block-videos {
  position: relative;
  overflow: hidden;
  background: $white;
  padding: 50px 0 0px;
  color: $gray2;

  @include media('<desktop') {
    padding: 55px 0;
  }

  @include media('<tablet') {
    padding: 30px 0;
  }

  &__head {
    text-align: center;
    overflow: hidden;
    font-style: italic;
    margin: 0 0 46px;
    font-family: $georgia;

    @include media('<tablet') {
      margin: 0 0 25px;
    }
  }

  &__heading {
    font-family: $proxima;
    color: $gray1;
    margin: 0;
    font-style: normal;
  }

  &__p {
    margin: 0 0 10px;
  }



  &__arrow {
    @include img;
  }
}

.video-container {
  position: relative;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);

  &:after {
    @include position-zero;

    position: absolute;
    content: '';
    border: 30px solid $white;

    @include media('<tablet') {
      border-width: 10px;
    }
  }

  &__title {
    @include alignment(inline-block, middle);

    margin: 0;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 0 0 40px;

    @include media('<tablet') {
      display: none;
    }

    &__small {
      text-transform: lowercase;
      font-weight: 400;
    }
  }
  &__img {
    @include img;
  }

  &__caption-area {
    @include position-zero(30px);

    position: absolute;
    z-index: 2;
    color: $white;
    background-image: linear-gradient(180deg, rgba(38, 38, 38, 0.7) 0%, rgba(80, 80, 80, 0.7) 100%);

    @include media('<tablet') {
      @include position-zero(10px);
    }
  }

  &__caption-holder {
    @include font-size(72px, 68px);

    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    @include media('<desktop') {
      @include font-size(50px, 58px);
    }
  }

  &__icon {
    @include alignment(inline-block, middle);

    width: 108px;
    margin: 0 15px 0 0;

    @include media('<tablet') {
      width: 54px;
      margin: 0;
    }
  }
}

.block-comments {
  position: relative;
  overflow: hidden;
  background: $sky-blue1;
  padding: 78px 0 60px;
  margin-left: auto ;
  margin-right: auto ;

  @include media('<desktop') {
    padding: 50px 0;
  }

  @include media('<tablet') {
    padding: 30px 0;
  }

  &__button-holder {
    text-align: center;
  }

  &__h2 {
    text-align: center;
    margin: 0 0 88px;

    @include media('<tablet') {
      margin: 0 0 30px;
    }
  }

  &__h2left {
    text-align: left;
    margin: 0 0 44px;

    @include media('<tablet') {
      margin: 0 0 30px;
      text-align: center;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include media('<tablet') {
      display: block;
    }
  }

  &__col {
    width: 45%;

    @include media('<tablet') {
      width: 100%;
    }
  }

  &__col--centered {
    width: 100%;

    @include media('<tablet') {
      width: 100%;
    }
  }

  &__col--divider {
    width: 50%;
    padding: 0 80px 0 40px;

    @include media('>tablet') {
    border-right: 1px solid #A2B2BB;
    }

    @include media('<tablet') {
      width: 100%;
    }
  }

  &__col--clear {
    width: 40%;
    padding: 0 20px 0 0px;

    @include media('<tablet') {
      width: 100%;
      padding: 0 70px 0 40px;
    }
  }

  &__footnote {
    text-align: center;
    font-size: $h7-font-size;
    font-style: italic;
    padding: 60px 90px 0 80px;

    @include media('<tablet') {
      padding: 0 70px 0 40px;
    }
  }

  &__btn {
    @include font-size(24px, 32px);

    border: 2px solid $orange;
    color: $orange;
    background: $white;
    letter-spacing: 0.4px;
    padding: 12px 30px;

    @include media('<tablet') {
      @include font-size(18px, 22px);
    }

    &:hover {
      color: $white;
      background: $orange;
      transition: all 0.3s ease;
    }
  }

  &__container {
    max-width: 1160px;
    // max-width: 827px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__list {
    @extend %listreset;

    &__item {
      position: relative;
      padding: 0 0 0 24px;
      margin: 0 0 18px;

      @include media('<desktop') {
        padding: 0 0 0 16px;
      }

      &:before {
        @include square(6px);

        position: absolute;
        left: 0;
        top: 10px;
        content: '';
        background: $gray1;
        border-radius: 100%;

        @include media('<desktop') {
          top: 8px;
        }

        @include media('<tablet') {
          top: 4px;
        }
      }
    }
  }
  &--left-align {
      text-align: left;
      padding-bottom: 0 0 50px;
      // margin: 0 0 50px;
    }
}

.block-steps {
  position: relative;
  overflow: hidden;
  padding: 76px 0 60px;
  color: $white;

  @include media('<desktop') {
    padding: 50px 0;
  }

  @include media('<tablet') {
    padding: 30px 0;
  }

  &__h2 {
    @include font-size(45px, 48px);

    text-align: center;
    margin: 0 0 18px;

    @include media('<desktop') {
      @include font-size(32px, 36px);
    }

    @include media('<tablet') {
      @include font-size(26px, 32px);
    }

    // &__leftAlign {
    //   text-align: left;
    //   padding-bottom: : 50px;
    // }
  }


  &__item {
    @include alignment(inline-block, middle);

    position: relative;
    padding: 0 29px;

    @include media('<tablet') {
      display: block;
      padding: 0 10px;
    }

    &:before {
      @include square(0);

      position: absolute;
      left: -17px;
      top: 50%;
      content: '';
      border-style: solid;
      border-width: 8px 0 8px 16px;
      border-color: transparent transparent transparent $sky-blue;
      margin: -8px 0 0;
      border-radius: 3px 0 0 3px;

      @include media('<tablet') {
        display: none;
      }
    }

    &:first-child {

      &:before {
        display: none;
      }
    }
  }

  &__list {
    @include font-size(18px, 22px);

    margin: 0 0 60px;
    list-style: none;
    text-align: center;
    border-width: 2px 0;
    border-style: solid;
    border-color: $light-white;
    padding: 16px 0;

    @include media('<tablet') {
      margin: 0 0 30px;
    }

    &__link {
      font-weight: 300;
      color: $white;

      &--active {
        font-weight: 700;
      }

      &:hover {
        color: $white;
      }
    }
  }

  &__wrap {
    max-width: 920px;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 47px;

    @include media('<tablet') {
      display: block;
      overflow: hidden;
      margin: 0;
    }
  }

  &__p {
    margin: 0 0 38px;

    @include media('<tablet') {
      margin: 0 0 15px;
    }
  }
}
